@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary-color: #0097b2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #ffffff;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

#smooth-wrapper, #smooth-content {
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
}
